*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  color: #111111;
}

img{
  max-width: 100%;
  display: block;
}

img[src$=".jpg"]{ /* define que estilo sera aplicado apenas para img que tiver src e terminar com .jpg */
  border-radius: 4px;
}

a{
color: inherit;
}